@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: #eee;
  margin: 16px;
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}